In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('hypothyroid.csv', na_values= '?')
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,P
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,P
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,P
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,P
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,P

In [7]:
df.shape

(3772, 30)

## Note:
Split data before any preprocessing (including encoding and especially before imputation) to avoid data leakages.
The train set should be treated as if it is the only data you have to train the model, and the test set should be seen as data you will see in the future (at present you don't have access to).
The train and test sets should be completely independent of each other.
(Imputation before splitting will use the test data to fill missing values for the train data.)
This means the test set will have to go through its own preprocessing before being used for predictions/accuracy measurements.

In [8]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['binaryClass'])
y = df['binaryClass']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

It is good practise to split your data evenly (this data splits in 4 parts without remainders)

In [9]:
X_train

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
2259,38.0,F,f,f,f,f,f,f,f,f,...,2.4,t,138.0,t,1.16,t,118.0,f,NaN,SVHC
422,18.0,F,f,f,f,f,f,t,f,f,...,1.3,t,75.0,t,1.11,t,68.0,f,NaN,SVI
1766,6.0,F,f,f,f,f,f,f,f,f,...,2.0,t,134.0,t,0.96,t,140.0,f,NaN,SVI
932,77.0,F,f,f,f,f,f,f,f,f,...,1.8,t,104.0,t,1.04,t,100.0,f,NaN,other
2726,53.0,M,f,f,f,f,f,f,f,f,...,1.9,t,104.0,t,0.93,t,112.0,f,NaN,SVI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,55.0,M,f,f,f,f,f,f,f,f,...,1.8,t,93.0,t,1.04,t,89.0,f,NaN,SVI
905,77.0,F,f,f,f,f,f,f,f,f,...,1.7,t,101.0,t,0.85,t,119.0,f,NaN,SVI
1096,73.0,F,f,f,f,f,f,f,f,f,...,3.4,t,133.0,t,0.84,t,159.0,f,NaN,other
235,53.0,F,f,f,f,f,f,f,f,f,...,4.3,t,184.0,t,1.19,t,155.0,f,NaN,other
1061,19.0,F,f,f,f,f,f,f,f,f,...,1.6,t,94.0,t,1.06,t,89.0,f,NaN,other

In [10]:
X_test

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
779,71.0,F,t,f,f,f,f,f,f,f,...,2.2,t,198.0,t,1.23,t,160.0,f,NaN,other
1467,24.0,F,f,f,f,f,f,f,f,f,...,NaN,t,121.0,t,1.09,t,111.0,f,NaN,other
2070,32.0,M,f,f,f,f,f,f,f,f,...,2.9,t,152.0,t,1.17,t,130.0,f,NaN,SVHC
364,25.0,F,f,f,f,f,t,f,f,f,...,2.2,t,113.0,t,1.08,t,105.0,f,NaN,STMW
331,15.0,F,f,f,f,f,f,f,f,f,...,1.4,t,64.0,t,0.79,t,81.0,f,NaN,SVI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,65.0,F,f,f,f,f,f,f,f,f,...,2.6,t,121.0,t,1.05,t,115.0,f,NaN,other
1132,47.0,F,f,f,f,f,f,f,f,f,...,1.7,t,98.0,t,1.08,t,90.0,f,NaN,STMW
1239,53.0,M,f,f,f,f,f,f,f,f,...,2.0,f,NaN,f,NaN,f,NaN,f,NaN,other
3152,68.0,F,f,f,f,f,f,f,f,t,...,NaN,t,93.0,t,1.20,t,77.0,f,NaN,other
2933,69.0,F,f,f,f,f,f,f,f,f,...,0.8,t,53.0,t,0.86,t,61.0,f,NaN,SVI